# 예시문제
N이 1이 될 때까지  
과정1: N에서 1을 뺀다  
과정2: N을 K로 나눈다  
둘 중 하나를 수행한다. 이 때 최소 횟수
* 문제 조건
  * 1 <= N <= 100,000
  * 2 <= K <= 100,000

In [ ]:
def solution(N, K):
  count = 0
  while N > 1:
    if N % K == 0:
      N /= K
      count += 1
    else:
      N -= 1
      count += 1
  return count

In [ ]:
solution(23, 6)

8

## 답안예시

In [ ]:
# n, k를 공백을 기준으로 구분하여 입력받기
n, k = map(int, input().split())

result = 0

while True:
  print('1: ', n, result)
  target = (n // k) * k
  result += n - target
  n = target
  print('2: ', n, result)
  if n < k:
    break

  n //= k
  result += 1

result += n - 1
print(result)

100001 567
1:  100001 0
2:  99792 209
1:  176 210
2:  0 386
385

# 문제1 모험가길드
p.311  
모험가 n 명 대상으로 '공포도' 측정.  
공포도가 x인 모험가는 반드시 x명 이상으로 구성한 모험가 그룹에 참여해야 여행을 떠날 수 있다.  
최대 몇개의 모험가 그룹을 만들 수 있는가?  
* 문제 조건
  * 1 <= n <= 100,000
  * 각 모험가의 공포도는 n 이하의 자연수로 주어지며 각 자연수는 공백으로 구분한다

## 내 답안

In [ ]:
import copy
def solution(n, fear):
  fear = sorted(list(map(int, fear.split())))
  cnt = 1
  result = 0
  for i in range(len(fear)):
    if fear[i] == cnt:
      result += 1
      cnt = 1
    elif fear[i] > cnt:
      cnt += 1

  return result

solution(10, "5 1 2 3 4 1 2 1 5 1")

5

## 정답
p.506

In [ ]:
n = int(input())
data = list(map(int, input().split()))
data.sort()

result = 0 # 총 그룹의 수
count = 0 # 현재 그룹에 포함된 모험가의 수

for i in data:
  count += 1
  if count >= i:
    result += 1
    count = 0

print(result)

10
5 1 2 3 4 1 2 1 5 1
5

# 문제2 곱하기 혹은 더하기
각 자리가 숫자(0~9)로만 이루어진 문자열 S가 주어졌을 때, 왼쪽부터 오른쪽으로 하나씩 모든 숫자를 확인하며 숫자 사이에 'x'혹은 '+' 연산자를 넣어 결과적으로 만들어질 수 있는 가장 큰 수를 구하는 프로그램을 작성하세요. 단, +보다 x를 먼저 계산하는 일반적인 방식과는 달리, 모든 연산은 왼쪽에서부터 순서대로 이루어진다고 가정합니다.

## 내 답안

In [ ]:
def solution(S):
  S = S.replace('0', '')
  answer = 1
  for i in S:
    i = int(i)
    if i > 1:
      answer *= i
    else:
      answer += i
  return answer

In [ ]:
solution("580468")

7680

## 정답

In [ ]:
data = input()

result = int(data[0])

for i in range(1, len(data)):
  num = int(data[i])
  if num <= 1 or result <= 1:
    result += num
  else:
    result *= num

print(result)

580468
7680

# 문제3 문자열뒤집기

## 내 답안 틀림

In [ ]:
from collections import Counter

def solution(S):
  S2 = sorted(dict(Counter(S)))

  if S2[1] == S2[0]:
    return 0
  else:
    chg = S2[1]
    chglist = [i for i, v in enumerate(S) if v == str(chg)]


    cnt = 1
    for i, v in enumerate(chglist[:-1]):
      if chglist[i+1] - chglist[i] == 1:
        continue
      cnt += 1

    return cnt

In [ ]:
solution("0000000010100101010111")

6

## 정답

In [ ]:
data = input()
count0 = 0
count1 = 0

if data[0] == '1':
  count0 += 1
else:
  count1 += 1

for i in range(len(data) - 1):
  if data[i] != data[i + 1]:
    if data[i + 1] == '1':
      count0 += 1
    else:
      count1 += 1

print(min(count0, count1))

solution("0000000010100101010111")
6

# 문제4 만들 수 없는 금액

In [ ]:
def solution(n, nlist):
  nlist = nlist.split()
  # nlist.sort

  import itertools
  pool = []
  for i in range(1, n+1):
    pool += list(itertools.combinations(nlist, i))
  pool = set(map(eval, map('+'.join, pool)))

  answer = 1
  while answer in pool:
    # print(pool)
    answer += 1

  return answer

solution(5, "3 2 1 1 9")

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16}

8

## 정답

In [ ]:
data = list(map(int, input().split()))
data.sort()

target = 1
for x in data:
  print(target, x)
  if target < x:
    break
  target += x

print(target)

1 2 3 5
1 1
2 2
4 3
7 5
12

# 문제5 볼링공 고르기

In [ ]:
from itertools import combinations
from collections import Counter

def solution(nm, klist):
  n, m = nm.split()
  n = int(n)

  full = list(combinations(range(n), 2))

  klist = klist.split()
  s = dict(Counter(klist))

  minus = 0
  for i in s:
    if s[i] >= 2:
      minus += len(list(combinations(range(s[i]), 2)))

  return len(full) - minus

solution("8 5", "1 5 4 3 2 4 5 2")

25

# 문제6 무지의 먹방 라이브

## 내 답안 (틀림)

In [ ]:
import copy
def solution(food_times, k):
  i = 0 # 시간(초)
  l = len(food_times)
  while i <= k:
    old = copy.deepcopy(food_times)
    j = i % l
    for tmp in range(l):
      jj = (j + tmp) % l # 먹어야할 음식 index
      if food_times[jj] > 0:
        food_times[jj] = food_times[jj] - 1
        break
    print(i, j, jj, food_times)
    i += 1

  return -1 if old == food_times else jj + 1

# solution([3, 1, 2], 5)
solution([3, 2, 2, 1, 2, 1, 3, 7, 2], 16)

0 0 0 [2, 2, 2, 1, 2, 1, 3, 7, 2]
1 1 1 [2, 1, 2, 1, 2, 1, 3, 7, 2]
2 2 2 [2, 1, 1, 1, 2, 1, 3, 7, 2]
3 3 3 [2, 1, 1, 0, 2, 1, 3, 7, 2]
4 4 4 [2, 1, 1, 0, 1, 1, 3, 7, 2]
5 5 5 [2, 1, 1, 0, 1, 0, 3, 7, 2]
6 6 6 [2, 1, 1, 0, 1, 0, 2, 7, 2]
7 7 7 [2, 1, 1, 0, 1, 0, 2, 6, 2]
8 8 8 [2, 1, 1, 0, 1, 0, 2, 6, 1]
9 0 0 [1, 1, 1, 0, 1, 0, 2, 6, 1]
10 1 1 [1, 0, 1, 0, 1, 0, 2, 6, 1]
11 2 2 [1, 0, 0, 0, 1, 0, 2, 6, 1]
12 3 4 [1, 0, 0, 0, 0, 0, 2, 6, 1]
13 4 6 [1, 0, 0, 0, 0, 0, 1, 6, 1]
14 5 6 [1, 0, 0, 0, 0, 0, 0, 6, 1]
15 6 7 [1, 0, 0, 0, 0, 0, 0, 5, 1]
16 7 7 [1, 0, 0, 0, 0, 0, 0, 4, 1]

8

## 정답

In [ ]:
import heapq

def solution(food_times, k):
  if sum(food_times) <= k:
    return -1

  q = []
  for i in range(len(food_times)):
    heapq.heappush(q, (food_times[i], i + 1))

  sum_value = 0
  previous = 0
  length = len(food_times)

  while sum_value + ((q[0][0] - previous) + length) <= k:
    now = heapq.heappop(q)[0]
    sum_value += (now - previous) * length
    length -= 1
    previous = now

  result = sorted(q, key = lambda x: x[1])
  return result[(k - sum_value) % length][1]

# solution([3, 1, 2], 5)
solution([3, 2, 2, 1, 2, 1, 3, 7, 2], 16)

9

# 문제
세준이는 영어로만 이루어진 어떤 문서를 검색하는 함수를 만들려고 한다. 이 함수는 어떤 단어가 총 몇 번 등장하는지 세려고 한다. 그러나, 세준이의 함수는 중복되어 세는 것은 빼고 세야 한다. 예를 들어, 문서가 abababa이고, 그리고 찾으려는 단어가 ababa라면, 세준이의 이 함수는 이 단어를 0번부터 찾을 수 있고, 2번부터도 찾을 수 있다. 그러나 동시에 셀 수는 없다.

세준이는 문서와 검색하려는 단어가 주어졌을 때, 그 단어가 최대 몇 번 중복되지 않게 등장하는지 구하는 프로그램을 작성하시오.

## 입력
첫째 줄에 문서가 주어진다. 문서의 길이는 최대 2500이다. 둘째 줄에 검색하고 싶은 단어가 주어진다. 이 길이는 최대 50이다. 문서와 단어는 알파벳 소문자와 공백으로 이루어져 있다.

## 출력
첫째 줄에 중복되지 않게 최대 몇 번 등장하는지 출력한다.

In [ ]:
def solution(s = 'dabababadd', find = 'aba'):
  f_len = len(find)
  cnt = 0
  while len(s) > f_len:
    if find == s[:f_len]:
      cnt += 1
      s = s[f_len:]
    else:
      s = s[1:]

  return cnt

# solution(s = 'daaaaaaa', find = 'aa')
solution()

2

In [ ]:
s = input()
find = input()
print(s, find)

f_len = len(find)
cnt = 0
while len(s) >= f_len:
  print(s)
  if find == s[:f_len]:
    cnt += 1
    s = s[f_len:]
  else:
    s = s[1:]

print(cnt)

dababababaad
ad
dababababaad ad
dababababaad
ababababaad
babababaad
abababaad
bababaad
ababaad
babaad
abaad
baad
aad
0